<section class="containerAboutUs">

    <h2 class="titleAboutUs" id="vinwho">QUIÉNES SOMOS</h2>

    <article class="right">
        <img src="./assets/images/macarena.jpeg" class="picture">
        <section class="content-us-right">
            <h3 class="name">Macarena Peña</h3>
            <p class="itemAbout">Ingeniera civil con MBA y experiencia en la gestión de proyectos de ingeniería. Destaca
                por su proactividad, disciplina y compromiso. Asertiva, sociable y con un buen manejo de las habilidades
                interpersonales.</p>
            <nav>
                <ul class="socialMedia">
                    <li>
                        <a href="https://twitter.com/MacarenaPena93" target="_blank"><i class="fab fa-twitter-square"
                                alt="twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/mpenacasares/" target="_blank"><i class="fab fa-linkedin"
                                alt="Linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/mpenacasares" target="_blank"><i class="fab fa-github"
                                alt="github"></i></a>
                    </li>
                </ul>
            </nav>
        </section>
    </article>

    <article class="left">
        <img src="./assets/images/barbara.jpg" class="picture">
        <section class="content-us-left">
            <h3 class="name">Bárbara Ruiz</h3>
            <p class="itemAbout">Técnico senior en RRHH, especializada en resolución de conflictos; así como la gestión
                y organización de grandes equipos de trabajo. Curiosa, asertiva y observadora. Destacan sus dotes en
                mediación y su capacidad de reconocer el trabajo bien desarrollado. </p>
            <nav>
                <ul class="socialMedia">
                    <li>
                        <a href="https://www.linkedin.com/in/barbararm1/" target="_blank"><i class="fab fa-linkedin"
                                alt="Linkedin"></i></a>
                    </li>
                    <li><a href="https://github.com/Babsrm" target="_blank"><i class="fab fa-github"
                                alt="github"></i></a></li>
                </ul>
            </nav>
        </section>
    </article>

    <article class="right">
        <img src="./assets/images/maria.jpg" class="picture">
        <section class="content-us-right">
            <h3 class="name">María Guerrero</h3>
            <p class="itemAbout">Realizadora audiovisual con experiencia en prensa digital, redacción, diseño y montaje
                de vídeo. Capacidad resolutiva, comunicativa y aptitud proactiva. Sobresale por su trabajo minucioso y
                creatividad en la resolución de conflictos.</p>
            <nav>
                <ul class="socialMedia">
                    <li><a href="https://twitter.com/mariguerri" target="_blank"><i class="fab fa-twitter-square" alt="twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/mariaguerrerocaro/" target="_blank"><i class="fab fa-linkedin" alt="Linkedin"></i></a></li>
                    <li><a href="https://github.com/maria-guerrero" target="_blank"><i class="fab fa-github" alt="github"></i></a></li>
                </ul>
            </nav>
        </section>
    </article>

    <article class="left">
        <img src="./assets/images/denise.jpg" class="picture">
        <section class="content-us-left">
            <h3 class="name">Denise Overbeck Troglio</h3>
            <p class="itemAbout">Con formación en Secretariado Ejecutivo, y experiencia en empresas de auditoría y
                educación.
                Detallista, observadora y proactiva. Capacidad de trabajo en equipo y buen relacionamiento
                interpersonal.</p>
            <nav>
                <ul class="socialMedia">
                    <li><a href="https://www.linkedin.com/in/denise-overbeck-troglio-37816868/" target="_blank"><i class="fab fa-linkedin" alt="Linkedin"></i></a></li>
                    <li><a href="https://github.com/denisetroglio" target="_blank"><i class="fab fa-github" alt="github"></i></a></li>
                </ul>
            </nav>
        </section>
    </article>

    <article class="right">
        <img src="./assets/images/claudia.jpg" class="picture">
        <section class="content-us-right">
            <h3 class="name">Claudia Berrocal</h3>
            <p class="itemAbout">Abogada con experiencia tanto en el área de asesoría jurídica como en materia de
                protección
                de datos.
                Predomina su proactividad y su capacidad de resolución de conflictos. Multidisciplinar, comunicativa
                y con una gran atención al detalle.</p>
            <nav>
                <ul class="socialMedia">
                    <li><a href="https://twitter.com/RGPque" target="_blank"><i class="fab fa-twitter-square"
                                alt="twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/claudia-berrocal/" target="_blank"><i
                                class="fab fa-linkedin" alt="Linkedin"></i></a></li>
                    <li><a href="https://github.com/claudiabg-c" target="_blank"><i class="fab fa-github"
                                alt="github"></i></a></li>
                </ul>
            </nav>
        </section>
    </article>

</section>