<!-- share form html structure -->
<fieldset class="box share">
    <legend class="box__header js-legendShare">
        <div class="box__wrapper">
            <i class="fas fa-share-alt box__icon"></i>
            <h2 class="box__title">Comparte</h2>
        </div>
        <i class="fas fa-chevron-down box__arrow js-iconShare"></i>
    </legend>

    <section class="box__main share__section js-sectionShare hidden">
        <div class="share__main">
            <button class="share__button" type="submit"><i class="far fa-address-card"></i>Crear
                tarjeta</button>
            <button class="share__button share__button--disabled hidden" type="submit"><i
                    class="far fa-address-card"></i>Crear tarjeta</button>
        </div>

        <div class="share__done">
            <p class="share__text">La tarjeta ha sido creada:</p>
            <a class="share__link" href="#">random text meanwhile</a>
            <button class="share__button share__button--twitter"><i class="fab fa-twitter"></i>Compartir en
                twitter</button>
        </div>
    </section>
</fieldset>