<!-- design form html structure -->
<fieldset class="box design">
    <legend class="js-legendDesign box__header">
        <div class="box__wrapper">
            <i class="far fa-object-ungroup box__icon"></i>
            <h2 class="box__title">Diseña</h2>
        </div>
        <i class="js-iconDesign fas fa-chevron-up box__arrow"></i>
    </legend>

    <section class="js-sectionDesign box__main design__section">
        <p class="design__text">Colores</p>

        <div class="design__wrapper">
            <div class="design__option">
                <input type="radio" id="palette1" name="palette" class="js-labelPalette  design__input" checked />

                <label for="palette1" class="design__label">
                    <ul class="design__list">
                        <li class="design__color palette1--color1"></li>
                        <li class="design__color palette1--color2"></li>
                        <li class="design__color palette1--color3"></li>
                    </ul>
                </label>
            </div>

            <div class="design__option">
                <input type="radio" id="palette2" name="palette" class="js-labelPalette design__input" />

                <label for="palette2" class="design__label">
                    <ul class="design__list">
                        <li class="design__color palette2--color1"></li>
                        <li class="design__color palette2--color2"></li>
                        <li class="design__color palette2--color3"></li>
                    </ul>
                </label>
            </div>

            <div class="design__option">
                <input type="radio" id="palette3" name="palette" class="js-labelPalette design__input" />

                <label for="palette3" class="design__label">
                    <ul class="design__list">
                        <li class="design__color palette3--color1"></li>
                        <li class="design__color palette3--color2"></li>
                        <li class="design__color palette3--color3"></li>
                    </ul>
                </label>
            </div>
        </div>
    </section>
</fieldset>