<!-- card form html structure -->
<section class="cards">
    <div class="cards__container">
        <button class="cards__button--reset js-reset-btn" type="reset"><i class="far fa-trash-alt"></i>Reset</button>
        <article class="cards__article">
            <div class="cards__wrapper--palette1 js-border-color">
                <h1 class="cards__title cards__title--palette1 js-card-name">Nombre Apellido</h1>
                <h2 class="cards__subtitle cards__subtitle--palette1 js-card-job">Front-end developer</h2>
            </div>
            <div class="cards__image js__profile-image"></div>
            <ul class="cards__contact">
                <li class="cards__item">
                    <a class="cards__icon cards__icon--phone cards__icon--palette1 js-card-phone js-card-icons" title="Teléfono"><i class="fas fa-mobile-alt"></i></a>
                </li>
                <li class="cards__item">
                    <a class="cards__icon cards__icon--email cards__icon--palette1 js-card-email js-card-icons" title="Email"><i class="far fa-envelope"></i></a>
                </li>
                <li class="cards__item">
                    <a class="cards__icon cards__icon--linkedin cards__icon--palette1 js-card-linkedin js-card-icons" title="LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="cards__item">
                    <a class="cards__icon cards__icon--github cards__icon--palette1 js-card-github js-card-icons" title="GitHub" target="_blank"><i class="fab fa-github-alt"></i></a>
                </li>
            </ul>
        </article>
    </div>
</section>