<!-- cards html structure -->
<section class="cards">
    <div class="cards__container">
        <button class="cards__button--reset" type="reset"><i class="far fa-trash-alt"></i>Reset</button>
        <article class="cards__article">
            <h1 class="cards__title">Nombre Apellido</h1>
            <h2 class="cards__subtitle">Front-end developer</h2>
            <img class="cards__image" src="https://via.placeholder.com/240x200" alt="Imagen de perfil" title="Imagen de perfil" />
            <ul class="cards__contact">
                <li class="cards__item">
                    <a class="cards__link cards__link--phone" href="#" title="Teléfono"></a>
                </li>
                <li class="cards__item">
                    <a class="cards__link cards__link--mail" href="#" title="Correo electrónico"></a>
                </li>
                <li class="cards__item">
                    <a class="cards__link cards__link--linkedin" href="#" title="LinkedIn"></a>
                </li>
                <li class="cards__item">
                    <a class="cards__link cards__link--github" href="#" title="GitHub"></a>
                </li>
            </ul>
        </article>
    </div>
</section>