<section class="contactsection">
    <h1 class="titlecontact">Contacto</h1>
    <p class="textcontact">
        Si quieres conocernos mejor, preguntarnos o consultar cualquier duda, rellena el siguiente formulario y un
        miembro del equipo se pondrá en contacto contigo lo antes posible.
    </p>
    <p class="small">Todos los campos marcados con <span>*</span> son obligatorios.</p>
</section>

<form action="https://formspree.io/f/xnqlewjv" method="post" class="form">
    <div class="name">
        <label for="completename">Nombre completo <span>*</span></label>
        <input type="text" id="completename" name="completename" placeholder="Nombre..." required>
    </div>

    <div class=email>
        <label for="email">Email <span>*</span></label>
        <input type="email" id="email" name="email" placeholder="nombre.apellidos@mail.com" required
            pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
    </div>
    <div class="phone">
        <label for="phone">Teléfono </label>
        <input type="tel" id="phone" name="phone" placeholder="Ej: 123456789" pattern="^[0-9]+">
    </div>
    </div>
    <div class="message">
        <label for="textarea">Mensaje <span>*</span></label><textarea name="textarea" id="textarea"
            placeholder="¿Qué necesitas?" required></textarea>
    </div>

    <input type="submit" value="Enviar" class="send">
</form>