<!-- card form html structure -->
<section class="cards">
    <div class="cards__container">
        <button class="cards__button--reset" type="reset"><i class="far fa-trash-alt"></i>Reset</button>
        <article class="cards__article">
            <div class="js-borderPalette cards__wrapper--palette1">
                <h1 class="cards__title js-cardName cards__title--palette1">Nombre Apellido</h1>
                <h2 class="cards__subtitle js-cardOccupation">Front-end developer</h2>
            </div>
            <div class="cards__image js__profile-image
            "></div>
            <ul class="cards__contact">
                <li class="cards__item">
                    <a class="cards__link cards__link--phone js-phonePreview js-linksIcons cards__link--palette1"
                        title="Teléfono"><i class="fas fa-mobile-alt"></i></a>
                </li>
                <li class="cards__item">
                    <a class="cards__link cards__link--email js-previewEmail js-linksIcons cards__link--palette1"
                        title="Email"><i class="far fa-envelope"></i></a>
                </li>
                <li class="cards__item">
                    <a class="cards__link cards__link--linkedin js-cardLinkedin js-linksIcons cards__link--palette1"
                        title="LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="cards__item">
                    <a class="cards__link cards__link--github js-cardGitHub js-linksIcons cards__link--palette1"
                        title="GitHub" target="_blank"><i class="fab fa-github-alt"></i></a>
                </li>
            </ul>
        </article>
    </div>
</section>