<fieldset class="box1">
    <legend class="box__header">
        <div class="box__wrapper">
            <i class="far fa-object-ungroup box__icon"></i>
            <h2 class="box__title">Diseña</h2>
        </div>

        <i class="fas fa-chevron-down box__arrow js-box__arrow"></i>
    </legend>

    <section class="box__main palettes hidden js-box__main">
        <p class="palettes__title">Colores</p>

        <div class="palettes__wrapper">
            <div class="palettes__option palette">
                <input type="radio" id="palette1" name="palette" class="palette__input" />

                <label for="palette1" class="palette__label">
                    <ul class="palette__list">
                        <li class="palette__color palette1--color1"></li>
                        <li class="palette__color palette1--color2"></li>
                        <li class="palette__color palette1--color3"></li>
                    </ul>
                </label>
            </div>

            <div class="palettes__option palette">
                <input type="radio" id="palette2" name="palette" class="palette__input" />

                <label for="palette2" class="palette__label">
                    <ul class="palette__list">
                        <li class="palette__color palette2--color1"></li>
                        <li class="palette__color palette2--color2"></li>
                        <li class="palette__color palette2--color3"></li>
                    </ul>
                </label>
            </div>

            <div class="palettes__option palette">
                <input type="radio" id="palette3" name="palette" class="palette__input" />

                <label for="palette3" class="palette__label">
                    <ul class="palette__list">
                        <li class="palette__color palette3--color1"></li>
                        <li class="palette__color palette3--color2"></li>
                        <li class="palette__color palette3--color3"></li>
                    </ul>
                </label>
            </div>
        </div>
    </section>
</fieldset>