<fieldset class="box1">
    <legend class="box1_header">
        <i class="far fa-object-ungroup design_icon"></i>
        <h2 class="diseña">Diseña</h2>
        <i class="fas fa-chevron-up design_arrow"></i>
    </legend>
    <section class="design">
        <p class="palette_text">Colores</p>
        <div class="choose">
            <div class="palette palette1">
                <input type="radio" id="palette1" name="fav_color" value="palette1">
                <label for="palette1" class="palette1_label">
                    <ul class="palette1_label__list">
                        <li class="palette1_label__list--color1"></li>
                        <li class="palette1_label__list--color2"></li>
                        <li class="palette1_label__list--color3"></li>
                    </ul>
                </label>
            </div>

            <div class="palette palette2">
                <input type="radio" id="palette2" name="fav_color" value="palette2">
                <label for="palette2" class="palette2">
                    <ul class="palette2__list">
                        <li class="palette2__list--color1"></li>
                        <li class="palette2__list--color2"></li>
                        <li class="palette2__list--color3"></li>
                    </ul>
                </label>
            </div>

            <div class="palette palette3">
                <input type="radio" id="palette3" name="fav_color" value="palette3">
                <label for="palette3" class="palette3">
                    <ul class="palette3__list">
                        <li class="palette3__list--color1"></li>
                        <li class="palette3__list--color2"></li>
                        <li class="palette3__list--color3"></li>
                    </ul>
                </label>
            </div>
        </div>
    </section>
</fieldset>