<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../../public/assets/css/main.css">
</head>

<body>
    <fieldset class="box1">
        <legend class="box1_header">
            <img class="rectangle-icon" src="../../../public/assets/images/two-overlapping-square.png" alt="">
            <h2 class="diseña">Diseña</h2>
            <img class="down-arrow" src="../../../public/assets/images/2169315-200.png" alt="">
        </legend>
        <div class="choose">
            <p class="palette_text">Colores</p>
            <input type="radio" id="palette1" name="fav_color" value="palette1">
            <label for="palette1">
                <ul class="palettes">
                    <li class="color-size">Azules</li>
                    <li>Rojos</li>
                    <li>Verdes</li>
                </ul>
            </label>
        </div>
</body>

</html>