<main class="mainIndex">

    <img src="./assets/images/logo-awesome-profile-cards.svg" alt="Logo" class="mainIndex__img">
    <section class="mainIndex__section1">
        <h1 class="mainIndex__section1--title">Crea tu tarjeta de visita</h1>
        <p class="mainIndex__section1--text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    </section>
    <section class="mainIndex__section2">
        <article class="mainIndex__section2--article">
            <i class="far fa-object-ungroup mainIndex__section2--articleIcon"></i>
            <p class="mainIndex__section2--articleText">Diseña</p>
        </article>
        <article class="mainIndex__section2--article">
            <i class="far fa-keyboard mainIndex__section2--articleIcon"></i>
            <p class="mainIndex__section2--articleText">Rellena</p>
        </article>
        <article class="mainIndex__section2--article">
            <i class="fas fa-share-alt mainIndex__section2--articleIcon"></i>
            <p class="mainIndex__section2--articleText">Comparte</p>
        </article>
    </section>
    <button class="mainIndex__button">Comenzar</button>

</main>