<section class="diamond">
    <div class="rombo">
    </div>
</section>

<section class="container-sw">
    <article class="box-strengths">
        <h2 class="title">Fortalezas</h2>
        <p class="text">
            Gran capacidad de adaptación y gestión del cambio. Somos un equipo autónomo, con competencias de gestión
            de conflictos, resolución de
            problemas y con una gran capacidad analítica.
            Además, contamos con experiencia en el desarrollo de proyectos siguiendo los estándares de la filosofía
            Agile, dentro del marco de trabajo Scrum.

        </p>
    </article>
    <article class="box-weaknesses">
        <h2 class="title">Debilidades</h2>
        <p class="text">
            Somos un grupo joven con mucho camino por recorrer pero con una gran iniciativa, motivación y
            conocimientos
            alineados a las últimas tendencias del sector.
        </p>
    </article>
</section>