<section class="container">
  <article class="intro">Trabajamos para que la calidad esté presente en todos nuestros ámbitos de
    actividad.</article>
  <article class="team">
    <h2 class="teamtitle" id="vinequipo">EQUIPO</h2>
    <p class="teamtext"> Somos un grupo de programadoras con actitud proactiva y emprendedora. Somos mujeres muy
      diferentes, con
      formación y experiencia profesional en ámbitos variados, que van desde el derecho y los recursos humanos, pasando
      por la
      realización audiovisual, hasta la gestión de proyectos de ingeniería, pero que están unidas por una pasión común:
      la programación.
    </p>
    <p class="teamtext">
      Amantes de la tecnología, apasionadas por seguir aprendiendo y mejorando. Disfrutamos con nuestro
      trabajo y afrontamos cada día y cada reto con positividad y energía.
      Si quieres conocernos y que trabajemos juntos, estamos abiertas a cualquier plan y proyecto que nos
      propongan así que puedes contactarnos a través de la sección de Contacto.
    </p>
  </article>
</section>