/* fonts */

$font-primary: 'Open Sans',
sans-serif;
$font-secondary: 'Merriweather',
serif;
$font-tertiary: 'Montserrat',
sans-serif;

/* colors */

$color-light: #fff;
$color-dark: #000;
$color-grey: #6b6b6b;
$color-grey-dark: #54585a;
$color-grey-light: #f5f5f5;
$color-grey-medium: #d8d8d8;
$color-grey-medium2: #d5d5d5;
$color-orange: #e17334;
$color-orange-light: #f9f4dc;
$color-green: #438792;
$color-green-light: #a2deaf;
$color-green-dark: #114e4e;
// design form palette2
$color-passion-red: #420101;
$color-rusty-red: #bd1010;
$color-tomato: #e95626;
// design form palette3
$color-blue-green: #3e5b65;
$color-orange-light: #eab052;
$color-grey-blue-light: #a0c0cf;

/* write media queries with sass mixins */

// how to use: @include tablet { tablet styles here }
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

// how to use: @include desktop { desktop styles here }
@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}