/* fonts */

$font-primary: 'Open Sans',
sans-serif;
$font-secondary: 'Merriweather',
serif;
$font-tertiary: 'Montserrat',
sans-serif;

/* colors */

$color-light: #fff;
$color-grey: #6b6b6b;
$color-grey-dark: #54585a;
$color-grey-light: #f5f5f5;
$color-grey-medium: #d8d8d8;
$color-grey-medium2: #d5d5d5;
$color-orange: #e17334;
$color-green: #438792;
$color-green-light: #a2deaf;
$color-blue: #00a0f5;
// palette1
$color-palette1-1: #114e4e;
$color-palette1-2: #438792;
$color-palette1-3: #a2deaf;
// palette2
$color-palette2-1: #420101;
$color-palette2-2: #bd1010;
$color-palette2-3: #e95626;
// palette3
$color-palette3-1: #3e5b65;
$color-palette3-2: #eab052;
$color-palette3-3: #a0c0cf;
// palette 4
$color-palette4-1: #000;
$color-palette4-2: #f7e018;
$color-palette4-3: #fbd5c0;

/* all html tags */

* {
    font-family: $font-primary;
    font-size: 16px;
}


/* write media queries with sass mixins */

// how to use: @include tablet { tablet styles here }
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

// how to use: @include desktop { desktop styles here }
@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}