* {
    font-family: $font-primary;
}

// profile-cards styles
.profile-cards {
    // linear gradient style
    background: linear-gradient($color-grey-light, $color-light);
    @include tablet {
        padding: 20px 40px;
    }
}

.form {
    @include tablet {
        display: flex;
        flex-direction: row-reverse;
    }
    @include desktop {
        width: 944px;
        margin: 0 auto;
    }
    &__fieldsets {
        margin: 30px 20px;
        @include tablet {
            width: 50%;
            margin: 0;
        }
        @include desktop {
            width: 329px;
        }
    }
}