.containerAboutUs {
  background: white;
  width: 100%;
  text-align: center;
  font-family: "opensans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.titleAboutUs {
  font-family: "Rubik", sans-serif;
  color: var(--brand-color);
  font-size: 24px;
  line-height: 45px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.itemAbout {
  background: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  color: #54585a;
}

.name {
  font-size: 20px;
  color: black;
  line-height: 45px;
}

.picture {
  width: 180px;
  height: 180px;
  border: 5px lightgray solid;
  border-radius: 10px;
  object-fit: cover;
}

.containerAboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialMedia {
  display: flex;
  justify-content: center;
}

.fab {
  color: #099d8d;
  width: fit-content;
  margin-bottom: 45px;
  margin-top: 15px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 18px;
}

@media all and (min-width: 768px) {
  .containerAboutUs {
    padding-bottom: 48px;
  }

  .titleAboutUs {
    font-size: 28px;
  }

  .right {
    display: flex;
    padding-left: 44px;
  }

  .left {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 45px;
  }

  .content-us-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 16px 44px 15px 31px;
    font-size: 18px;
  }

  .content-us-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 16px 44px 15px 31px;
    font-size: 18px;
  }

  .itemAbout {
    padding: 0;
  }

  .fab {
    padding-left: 0;
    padding-right: 14px;
  }

  .picture {
    width: 205px;
    height: 205px;
  }
}

@media (min-width: 1200px) {
  .containerAboutUs {
    padding-bottom: 60px;

    & .right {
      padding-left: 138px;

      & .content-us-right {
        padding-left: 45px;
        padding-right: 300px;
        padding-bottom: 151px;
      }
    }

    .left {
      padding-right: 138px;

      & .content-us-left {
        padding-right: 45px;
        padding-left: 300px;
        padding-bottom: 151px;
      }
    }

    & .picture {
      width: 278px;
      height: 278px;
    }
  }
}
