.footer {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 1px $color-grey-medium;
  @media(min-width:768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    font-size: 14px;
    color: $color-grey;
    font-family: $font-primary;
    opacity: 0.5;
    @media(min-width:768px) {
      margin-left: 40px;
    }
  }
  &__img {
    width: 104px;
    height: 40px;
    margin-top: 12px;
    @media(min-width:768px) {
      margin: 40px;
    }
  }
}
