.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-top: 2px solid #b8b8b9;
}

.menu {
  height: 60px;
  color: #54585a;
  font-family: "opensans", sans-serif;
  font-size: 14px;
  letter-spacing: normal;
  text-align: center;
  line-height: 140%;
  list-style-type: none;
  margin: -10px;
  padding: 5px;
  @media (min-width: 768px) {
    line-height: 30px;
  }
  @media (min-width: 1200px) {
    margin-top: 24px;
  }
}

.nombre-grupo {
  color: #b8b8b9;
  font-family: "opensans", sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 30px 30px 30px;
  @media (min-width: 1200px) {
    padding-top: 30px;
  }
}

.lista {
  text-decoration: none;
  color: #54585a;
}

.imagen {
  width: 115, 9px;
  height: 45px;
  margin: 30px;
}
@media all and (min-width: 768px) {
  .footer {
    padding-right: 45px;
    padding-left: 45px;
    height: 170px;
    & .menu {
      text-align: right;
    }
    & .nombre-grupo {
      text-align: left;
      padding-left: 0;
      margin-top: -40px;
    }
    & .imagen {
      position: absolute;
      margin: 30px 0px;
    }
    .navFooter {
      transform: translateY(-40px);
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 5px 138px 40px 138px;
  }
  .menu {
    text-align: right;
  }

  .nombre-grupo {
    text-align: left;
    padding: 30px 30px 30px 0px;
    transform: translateY(40px);
  }

  .imagen {
    align-items: left;
    margin: 30px 0px;
  }

  .navFooter {
    transform: translateY(-45px);
  }
}
