.share {
    margin-bottom: 10px;
    &__section {
        display: flex;
        flex-direction: column;
    }
    &__main {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $color-grey-medium;
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        border-radius: 12px;
        font-size: 18px;
        color: $color-light;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        background-color: $color-orange;
        margin-top: 10px;
        margin-bottom: 30px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        .fa-address-card {
            margin-right: 9px;
        }
        &--disabled {
            background-color: $color-grey-medium2;
            box-shadow: none;
        }
        &--twitter {
            align-items: flex-start;
            width: 180px;
            height: 30px;
            border-radius: 3px;
            font-size: 14px;
            text-transform: none;
            background-color: $color-blue;
            margin-bottom: 20px;
            padding-top: 5px;
        }
        .fa-twitter {
            font-size: 18px;
            margin-right: 9px;
        }
    }
    &__done {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    &__text {
        color: $color-grey-dark;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    &__link {
        text-align: center;
        text-decoration: none;
        color: $color-orange;
        font-size: 12px;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
}