.share {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-grey-medium;
    &__main {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $color-grey-medium;
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        border-radius: 12px;
        font-size: 18px;
        color: $color-light;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        background-color: $color-orange;
        margin-top: 10px;
        margin-bottom: 30px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        .fa-address-card {
            margin-right: 9px;
        }
        &:hover {
            background-color: $color-green;
        }
        &--disabled {
            background-color: $color-grey-medium2;
            box-shadow: none;
        }
    }
    /*boton en gris de cuando está preparado el boton
    &--button {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      color: $color-light;
      background-color: #d5d5d5;
      width: 200px;
      height: 50px;
      border-radius: 12px;
      display: grid;
      justify-content: center;
      align-items: center;
      border: none;
    margin-top: 35px;
      margin-bottom: 35px;
      text-decoration: none;}*/
    &__done {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    }
    &__text {
        color: $color-grey-dark;
        font-size: 18px;
        font-weight: 600;
    }
    &__link {
        text-decoration: none;
        color: $color-orange;
        font-size: 16px;
    }
    &__twitter {
        font-size: 14px;
        line-height: 20px;
        color: $color-light;
        background-color: #00a0f5;
        width: 180px;
        height: 30px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        text-decoration: none;
    }
}