.design {
    &__text {
        text-transform: uppercase;
        font-size: 14px;
        color: $color-grey-dark;
    }
    &__option {
        display: flex;
        align-items: flex-start;
    }
    &__input {
        height: 25px;
    }
    &__label {
        margin-bottom: 20px;
    }
    &__list {
        display: flex;
        margin-left: 10px;
    }
    &__color {
        width: 30px;
        height: 25px;
    }
}

.palette1 {
    &--color1 {
        background-color: $color-palette1-1;
    }
    &--color2 {
        background-color: $color-palette1-2;
    }
    &--color3 {
        background-color: $color-palette1-3;
    }
}

.palette2 {
    &--color1 {
        background-color: $color-palette2-1;
    }
    &--color2 {
        background-color: $color-palette2-2;
    }
    &--color3 {
        background-color: $color-palette2-3;
    }
}

.palette3 {
    &--color1 {
        background-color: $color-palette3-1;
    }
    &--color2 {
        background-color: $color-palette3-2;
    }
    &--color3 {
        background-color: $color-palette3-3;
    }
}

.palette4 {
    &--color1 {
        background-color: $color-palette4-1;
    }
    &--color2 {
        background-color: $color-palette4-2;
    }
    &--color3 {
        background-color: $color-palette4-3;
    }
}