.box3 {
  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: $font-primary;
    &--box1 {
      display: flex;
      flex-direction: row;
    }
    &--shareIcon {
      width: 16px;
      height: 16px;
      color: $color-orange;
    }
    &--share {
      display: flex;
      color: $color-grey-dark;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      align-items: center;
      justify-content: center;
    }
    &--arrowUp {
      color: $color-grey-dark;
      width: 16px;
      height: 16px;
    }
  }
  &__body {
    display: flex;
    justify-content: center;
    &--button {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      color: $color-light;
      background-color: $color-orange;
      width: 200px;
      height: 50px;
      border-radius: 12px;
      display: grid;
      justify-content: center;
      align-items: center;
      margin-bottom: 80px;
      text-decoration: none;
    }
    &--done {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &--par {
        color: $color-grey-dark;
        font-size: 18px;
        font-weight: 600;
      }
      &--link {
        text-decoration: none;
        color: $color-orange;
        font-size: 16px;
      }
      &--twitter {
        font-size: 14px;
       line-height: 20px;
        color: $color-light;
        background-color:#00a0f5;
        width: 180px;
        height: 30px;
        border-radius: 3px;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        text-decoration: none;
      }
    }
  }
}
/*falta:
-lineas grises separatorias
-dar formato a la linea del header/el comparte
-dar m치rgenes y padding; pendiente de las otras compa침eras
-dar sombra a los botones
-a침adir icono de twitter y crear tarjeta (pero eso para la segunda correcci칩n de css tras pasar por javascript, no?)*/