.mainIndex {
    background-color: $color-grey-light;
    min-height: calc(100vh - 111px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include tablet {
        min-height: calc(100vh - 61px);
    }
    &__img {
        width: 250px;
        height: 50px;
        margin-bottom: 35.4px;
        margin-top: 95px;
        @include tablet {
            width: 420px;
            height: 84px;
            margin-bottom: 31px;
        }
    }
    &__section1--title {
        font-family: $font-secondary;
        font-size: 19.2px;
        color: $color-orange;
        @include tablet {
            font-size: 24px;
        }
    }
    &__section1--text {
        font-size: 12.8px;
        color: $color-grey-dark;
        width: 264.8px;
        margin-bottom: 17.8px;
        @include tablet {
            font-size: 16px;
            width: 331px;
            margin-bottom: 27px;
        }
    }
    &__section2 {
        display: flex;
        justify-content: space-between;
        color: $color-grey-dark;
        width: 268px;
        height: 73.8px;
        border: 2px solid rgba(225, 115, 52, 0.21);
        border-radius: 4px;
        padding: 15px 20px 10px;
        @include tablet {
            width: 325px;
            height: 86px;
            border-radius: 5px;
        }
        &--article {
            font-size: 16px;
            width: 60px;
            @include tablet {
                width: 75px;
            }
        }
        &--articleIcon {
            font-size: 22.4px;
            color: $color-orange;
            @include tablet {
                font-size: 28px;
            }
        }
        &--articleText {
            font-size: 12.8px;
            position: relative;
            top: -3px;
            @include tablet {
                font-size: 16px;
                top: -2px;
            }
        }
    }
    &__button {
        color: $color-light;
        font-size: 16px;
        text-transform: uppercase;
        padding: 10px 20px;
        background-color: $color-green;
        border-radius: 21px;
        margin-top: 40px;
        margin-bottom: 30px;
        text-decoration: none;
        font-weight: bold;
        &:hover {
            background-color: $color-orange;
        }
    }
}